<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreatePendingShipmentWebServiceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />            
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CreatePendingShipmentWebServiceClient.Properties.Settings>
            <setting name="CreatePendingShipmentWebServiceClient_CreatePendingShipmentWebReference_ShipService"
                serializeAs="String">
                <value>https://wsbeta.fedex.com:443/web-services/openship</value>
            </setting>
        </CreatePendingShipmentWebServiceClient.Properties.Settings>        
    </applicationSettings>
</configuration>